
header {
  background: linear-gradient(var(--gradient)),
              url('../img/bg.jpg') no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.img-mix {
  mix-blend-mode: lighten;
  filter: hue-rotate(180deg) contrast(145%);
}